.wd-button-full {
    width: 100%;
}

.wd-round-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.wd-content-image {
    width: 100%;
    height: auto;
}

.wd-text-bottomleft {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 28px;
    color: white;
}

.wd-logo-big {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}








